* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  background: none;
}
a{
  color: white;
}
.icon {
  width: 28px;
  height: 28px;
  aspect-ratio: 1;
  object-fit: contain;
}
.icon img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
section {
  margin-bottom: 60px;
}
section > h3 {
  margin-bottom: 8px;
  color: #5db9ee;
}
body {
  width: 100vw;
  min-height: 100svh;
  background-color: #262525;
  color: white;
  padding-top: 65px;
}
.main-container {
  max-width: 1000px;
  margin: auto;
  padding: 0 10px;
}
nav {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  padding: 15px;
  background-color: #262525;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 100;
}
nav ul {
  display: flex;
  text-transform: uppercase;
  font-size: 14px;
  gap: 4px;
  justify-content: center;
}

nav ul li a:hover {
  cursor: pointer;
  border-color: #5db9ee;
  color: #5db9ee;
  opacity: 1;
}

nav ul li a {
  transition: 0.3s ease;
  color: white;
  padding: 4px 8px;
  border-bottom: 2px solid transparent;
  opacity: 0.7;
}

#hero {
  display: flex;
  gap: 10px;
  min-width: 350px;
}

#hero .left {
  flex: 7;
  display: flex;
  gap: 40px;
}
#hero .left .content {
  margin: auto;
}
#hero .right {
  flex: 3;
  display: flex;
  align-items: center;
}
#hero .right .img-box {
  min-width: 200px;
  aspect-ratio: 1;
  overflow: hidden;
  border-radius: 50%;
  margin: auto;
}
.img-box img:hover {
  filter: grayscale(0);
  cursor: pointer;
}
.img-box img {
  transition: 0.7s ease-in;
  filter: grayscale(100);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#hero .left .icons {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin: auto;
  font-size: 20px;
}
#hero .left .social-handle a {
  color: white;
}
.icons li:hover {
  cursor: pointer;
  background: linear-gradient(#ffff, #5db9ee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#hero .content h2 span {
  color: #5db9ee;
}
#hero .content h1 {
  color: #5db9ee;
}
#hero .content p {
  margin-top: 16px;
  margin-bottom: 40px;
  line-height: 1.5;
}
.btn-wrapper {
  display: flex;
  gap: 8px;
}
.btn:hover {
  border-color: #5db9ee;
  background-color: #5db9ee;
}
.btn {
  transition: 0.3s ease;
  padding: 8px 16px;
  text-transform: capitalize;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  border: 1px solid #5db9ee;
}

#about p {
  line-height: 1.5;
}

#education li:not(:last-child)::before {
  position: absolute;
  content: "";
  height: calc(100% + 20px);
  width: 2px;
  top: 50%;
  left: 13px;
  background-color: #5db9ee;
}
#education li .icon {
  width: 28px;
  aspect-ratio: 1;
}
#education li .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #5db9ee;
  padding: 4px;
  border-radius: 2px;
}
#education li {
  position: relative;
  display: flex;
  align-items: start;
  gap: 10px;
  margin-bottom: 20px;
}

.skill:hover {
  transform: scale(1.1);
}
.wrapper {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.img-btn {
  cursor: pointer;
  transition: 0.3s ease-in-out;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: rgba(128, 128, 128, 0.11);
  width: max-content;
  padding: 8px;
  border-radius: 10px;
}

#project .cards {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
}

#project .cards .card {
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.084);
  background-color: rgba(128, 128, 128, 0.05);
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  max-height: 200px;
}

#project .cards .card .img-btn{
  background-color: rgba(128, 128, 128, 0.2);
}
#project .cards .card .btn{
  border: none;
  background-color: #5db9ee;
  min-width: 100px;
  text-align: center;
}
#project .cards .card p {
  margin-top: 5px;
  margin-bottom: 16px;
}
#project .cards .card .img-btn  .icon{
  width: 22px;
}
#project .cards .card .preview {
  flex-shrink: 0;
  height: 100%;
  width: 150px;
  background-color: gray;
}
#project .cards .card .preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#project .cards .card .content {
  padding: 20px;
}


#contact-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  margin-bottom: 20px;
}
.valid:focus{
  border-color: #5db9ee;
}
.invalid:focus{
  border-color: #b84c4c;
}
input,
textarea {
  padding: 15px 20px;
  color: #fafafa;
  font-weight: 400;
  font-size: 15px;
  border: 1px solid #383838;
  border-radius: 14px;
  outline: none;
  width: 100%;
}

textarea {
  resize: none;
  height: 120px;
  grid-column: 1 / -1;
}

.gold:hover::before,
.gold:focus::before {
  background: linear-gradient(135deg, #81ffd546 0%, hsla(35, 100%, 68%, 0) 59.86%), #1a382e;
}

.gold::before {
  content: "";
  position: absolute;
  inset: 1px;
  border-radius: inherit;
  background: linear-gradient(to bottom right, hsla(240, 1%, 18%, 0.251) 0%, hsla(240, 2%, 11%, 0) 100%), #1a382e;
  transition: 0.25s ease;
  z-index: -1;
}

#message-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 15px;
  outline: none;
  border: none;
  cursor: pointer;
  margin-left: auto;
  padding: 16px 20px;
}

button:disabled {
  filter: grayscale(100%) brightness(50%);
  cursor: not-allowed !important;
}

.gold {
  font-weight: 500;
  color: #5db9ee;
  user-select: none;
  white-space: nowrap;
  padding: 10px;
  background: linear-gradient(to bottom right, #335e50 0%, #1f3c33 50%);
  font-size: 13px;
  /* border-radius: 0 15px; */
  border-radius: 15px;
  box-shadow: 0 16px 30px hsla(0, 0%, 0%, 0.125);
  z-index: 1;
  transition: 0.25s ease;
  position: relative;
}





@media screen and (max-width: 800px) {
  #project .cards {
    grid-template-columns: 1fr;
  }
  #project .cards .card .preview {
    width: 33%;
  }
}
@media screen and (max-width: 680px) {
  #contact-form {
      grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 525px) {
  nav{
    padding: 15px 0;
  }
  nav ul {
    gap: 0;
  }
  #hero {
    flex-direction: column-reverse;
    gap: 40px;
    margin-bottom: 100px;
  }
  #hero .left .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  #hero .right .img-box {
    width: 200px;
  }
  #hero .left {
    position: relative;
  }
  #hero .left .icons {
    position: absolute;
    flex-direction: row;
    top: calc(100% + 30px);
    left: 50%;
    transform: translateX(-50%);
    gap: 25px;
    font-size: 24px;
  }
}
